.container{
    border: 11px solid darkblue;
    border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
background-color: lightsteelblue;
}

body{
    background-image: url(https://media.formula1.com/image/upload/c_lfill,w_3392/q_auto/v1740000000/content/dam/fom-website/manual/2023/Launches2023/WilliamsLaunch2023/FW45%20Livery%20-%20Front%20-%20AA23.webp);
}